/* FONT & TEXT SETTINGS */
h1 {
font-family: Verdana, sans-serif;
color: black;
}

h2, h3, h4, h5, h6 {
font-family: Verdana, sans-serif;
color: black;
}

p {
font-family: Verdana, sans-serif;
color: black;
}

/* MAIN SETTINGS */
body {
    background-image: linear-gradient(white, white);
    margin: 0pt;
}

article {
    flex-wrap: wrap;
    margin: 60pt;
}

footer button{
    text-align: center;
    background-color: black;
    font-family: Verdana, sans-serif;
    width: 60pt;
    padding: 2pt;
    color: white;
    text-decoration: none;
}

footer button:hover{
    text-align: center;
    background-color: grey;
    font-family: Verdana, sans-serif;
    width: 60pt;
    padding: 2pt;
    color: white;
    text-decoration: none;
}

/* NAVIGATION BAR */
nav a {
    font-family: Verdana, sans-serif;
    color: white;
    text-decoration: none;
    padding: 10pt;
}

nav a:hover {
    background-image: linear-gradient(grey, grey);
    color: white;
    text-decoration: none;
    padding: 10pt;
}

nav {
    background-image: linear-gradient(black, black);
    color: white;
    text-decoration: none;
    padding: 10pt;
}
